*{margin:0;padding:0}
li{list-style: none}
#c_left,#c_right{width:50%;float:left;}
.f_header{width:300px;height:300px;margin:0 auto;position: relative;}
.circle{width:12px;height:12px;background: #000;border-radius: 50%;position: absolute;left:144px;top:144px;z-index: 4}
.petal{width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom: 130px solid #eee;position: absolute;z-index: 3}
.petal:nth-child(2){left:145px;top:14px}
.petal:nth-child(3){left:85px;top:120px;transform: rotate(-120deg)}
.petal:nth-child(4){left:205px;top:120px;transform: rotate(120deg)}
.pole{width:10px;height:300px;background: #000;margin: 0 auto;position: relative;top:-145px;z-index: 2}
.leaf{width:40px;height:80px;border-radius: 100% 0;background: #234212;position: absolute;top:300px;left:480px;}
.leaf:nth-child(3){top:358px;left:484px; }
.leaf:nth-child(4){top:260px;left:484px; }
.leaf:nth-child(5){top:358px;left:430px;transform: rotate(-60deg) }
.leaf:nth-child(6){top:260px;left:430px; transform: rotate(-60deg)}
.bg{display: inline-block;width:50px;height:50px;position: absolute;top:0;left:1000px;cursor: move}
.bg_r{background: red;}
.bg_b{background: #000;top:60px;}
.bg_f{background: #eee;top:120px;}
.bg_l{background: blue;top:180px;}
